name: Hassfest

on:
  push:
    branches:
      - hacs_submission
  pull_request:

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Hassfest
        uses: home-assistant/actions/hassfest@master
